body {
	width: 100%;
	height: 100%;
	font: 14px helvetica neue, helvetica, arial, sans-serif;
	overflow: hidden;
}

#cy {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.node-settings{
	max-width: 200px;
	display: none;
}

.edge-settings{
	max-width: 200px;
	display:none;
}

.config {
	position: absolute;
	/*right: 0;*/
	top: 0;
	bottom: 0;
	width: 18em;
	background: rgba(5, 68, 21, 0.9);
	box-sizing: border-box;
	padding: 1em;
	color: #fff;
	transition-property: opacity;
	transition-duration: 250ms;
	transition-timing-function: ease-out;
	overflow: auto;
	z-index: 1;
}

.config > h2{
	margin-top: 3px;
}

.config-toggle {
	position: absolute;
	left: auto;
	top: 5;
	padding: 0.75em;
	margin: 0.2em;
	z-index: 1000;
}

.config-closed .config {
	opacity: 0;
	pointer-events: none;
}

.config-closed #cy {
	right: 0;
}

.bootstrap-tagsinput{
	width: 100%;
}

.info-message{
	display: none;
}

.json-data{
	width: 100%;
	max-width: 100%;
	min-height: 50%;
}

.tutorial-bar{
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
	background-color: #FFF;
	border-top: 1px solid #E0E0E0;
	box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.17), 1px 1px 0 rgba(255, 255, 255, 0.85) inset;
	z-index: 2;
}

.progress-text{
	margin-top: 5px;
}

.progress-slider{
	margin-bottom: 5px;
}

.tutorial-text{
	margin-bottom:10px;
}

.button-controls{
	width: 280px;
	margin: 0 auto;
}

.tutorial-bar .close-button{
	float:right;
	font-size: 24pt;
}

.tutorial-sidebar{
	transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
	position: absolute;
    left: 0;
	bottom: 100%;
	min-width: 200px;
	max-width: 50%;
	padding: 5px;
	background-color: #FFF;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.17), 1px 1px 0 rgba(255, 255, 255, 0.85) inset;
}

.tutorial-sidebar h3{
	margin-top: 5px;
}

.tutorial-sidebar.open {
	-webkit-animation: open 0.5s forwards;
	animation: open 0.5s forwards;
}

.tutorial-sidebar.closed{
	-webkit-animation: close 0.5s forwards;
	animation: close 0.5s forwards;
}

.table-container{
	overflow: auto;
	width: 100%;
	padding: 5px;
}


    
@keyframes open {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes open {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes close {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes close {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.tutorial-sidebar-handle{
	width: 25px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -25px;
	color: white;
	text-align: center;
	cursor: pointer;
}


.tutorial-sidebar-handle > span {
    transition-duration: 0.5s;
	transition-property: transform;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -5px;
}

.open .tutorial-sidebar-handle  > span{
	transform: rotate(180deg);
}

.table-container .sidebar-table{
	border: none;
	margin-bottom: 0px;
}

.sidebar-table td{
	text-align: center;
	width: 40px;
	height: 40px;
}

#sliderProgress {
	margin-top:5px;
	width: 100%;
}

#sliderProgress .slider-selection {
	background-image: -webkit-linear-gradient(top, #89cdef 0%, #81bfde 100%);
	background-image: -o-linear-gradient(top, #89cdef 0%, #81bfde 100%);
	background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef', endColorstr='#ff81bfde', GradientType=0);
}